
body {
    background-color: rgb(189, 17, 17);
    color: rgb(255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	background-color: #4ec2cf;
}

footer {
	font-style: italic;
	font-size: 90%;
}

