
body {
    background-color: #d4b2f7;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	background-color: #4ec2cf;
	border:5px dotted white;
}

footer {
	font-style: italic;
	font-size: 90%;
}

